data/** linguist-vendored
static/** linguist-vendored
migrations/** linguist-generated
static/css/custom.css -linguist-detectable
static/js/confirm_age.js -linguist-detectable
static/js/shopping_cart.js -linguist-detectable