:80 {
    handle_path /static/* {
        root * /var/www/alcomarket/static
        file_server
    }

    handle_path /media/* {
        root * /var/www/alcomarket/media
        file_server
    }

    reverse_proxy http://backend:8000
}
