<div class="row pt-3 pb-3" id="{{ good.id }}">
  <div class="col-12 col-md-3 text-center">
    {% if good.image %}
      <img class="img-fluid"
           src="{{ good.image.url }}"
           style="max-height: 480px">
    {% endif %}
  </div>
  <div class="col-12 col-md-7 ps-md-4 pt-2 pt-md-0">
    {% if forloop %}
      <a class="header-color" href="{% url 'goods:good_detail' good.id %}">
        <h4>{{ good.name }}</h4>
      </a>
    {% else %}
      <h4>{{ good.name }}</h4>
    {% endif %}
    <p>{{ good.description|linebreaksbr }}</p>
    <table class="table table-sm mt-4">
      <tbody>
        <tr>
          <td>Категория</td>
          <td class="text-end">{{ good.category.name }}</td>
        </tr>
        <tr>
          <td>Производитель</td>
          <td class="text-end">{{ good.manufacturer.name }}</td>
        </tr>
        <tr>
          <td>Объем, л</td>
          <td class="text-end">{{ good.volume.normalize }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-2 align-self-center text-center">
    <p class="fw-bold fs-5 header-color">{{ good.price.normalize }} ₽</p>
    {% if user.is_authenticated %}
      <button type="button"
              class="btn add-to-cart-button {% if good in shopping_cart %} btn-green {% else %} btn-pink {% endif %}"
              id="add-to-cart-button-{{ good.id }}"
              data-good-id="{{ good.id }}">
        {% if good in shopping_cart %}
          Добавлено
        {% else %}
          В корзину
        {% endif %}
      </button>
    {% else %}
      <a href="{% url 'login' %}?next=/#{{ good.id }}" class="btn btn-pink">В корзину</a>
    {% endif %}
    {% if good.stock < 10 %}
      <p class="pt-2">
        <small>
          {% if good.stock == 1 %}
            Осталась
          {% else %}
            Осталось
          {% endif %}
        {{ good.stock }} шт.</small>
      </p>
    {% endif %}
  </div>
</div>
{% if not forloop.last and forloop %}<hr />{% endif %}
