<div class="row pt-3 pb-3">
  <div class="col-12 col-md-3 text-center">
    {% if good.image %}
      <img class="img-fluid"
           src="{{ good.image.url }}"
           style="max-height: 480px">
    {% endif %}
  </div>
  <div class="col-12 col-md-7 ps-md-4 pt-2 pt-md-0">
    <h4>{{ good.name }}</h4>
    <p>{{ good.description|linebreaksbr }}</p>
    <table class="table table-sm mt-4">
      <tbody>
        <tr>
          <td style="background-color:transparent;">Категория</td>
          <td class="text-end" style="background-color:transparent;">{{ good.category.name }}</td>
        </tr>
        <tr>
          <td style="background-color:transparent;">Производитель</td>
          <td class="text-end" style="background-color:transparent;">{{ good.manufacturer.name }}</td>
        </tr>
        <tr>
          <td style="background-color:transparent;">Объем, л</td>
          <td class="text-end" style="background-color:transparent;">{{ good.volume.normalize }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-2 align-self-center text-center">
    <p class="text-danger fw-bold fs-5">{{ good.price.normalize }} ₽</p>
    {% if user.is_authenticated %}
      <button type="button"
              class="btn btn-warning add-to-cart-button"
              id="add-to-cart-button-{{ good.id }}"
              data-good-id="{{ good.id }}">
        {% if user in good.is_in_shopping_cart.all %}
          Добавлено
        {% else %}
          В корзину
        {% endif %}
      </button>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-warning">В корзину</a>
    {% endif %}
    {% if good.stock < 10 %}
      <p class="pt-2">
        <small>
          {% if good.stock == 1 %}
            Осталась
          {% else %}
            Осталось
          {% endif %}
        {{ good.stock }} шт.</small>
      </p>
    {% endif %}
  </div>
</div>
{% if not forloop.last %}<hr />{% endif %}
