{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}
  {{ manufacturer.name }}
{% endblock title %}
{% block content %}
  <h1>{{ manufacturer.name }}</h1>
  <div class="border border-3 rounded p-2">{{ manufacturer.description|linebreaksbr }}</div>
  <form class="row g-3 py-3">
    <div class="col-xl-2">{{ sort_form.sort_by|addclass:"form-select form-select-sm" }}</div>
    <div class="col-xl-2">{{ sort_form.sort_direction|addclass:"form-select form-select-sm" }}</div>
    <div class="col d-grid gap-2 d-xl-block">
      <button type="submit" class="btn btn-sm btn-pink">Применить</button>
    </div>
  </form>
  <p class="small">Показано {{ page_obj.object_list.count }} из {{ page_obj.paginator.count }}</p>
  {% for good in page_obj %}
    {% include "goods/includes/good.html" %}
  {% endfor %}
  {% include "includes/paginator.html" %}
  <script src="{% static 'js/shopping_cart.js' %}"></script>
{% endblock content %}
