{% extends "base.html" %}
{% block title %}
  Спасибо за заказ!
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">Спасибо за заказ!</div>
        <div class="card-body">
          <p>С вами свяжутся в ближайшее время, по контактным данным, которые вы нам оставили в заказе.</p>
          <div class="text-center">
            <a class="btn btn-green" href="{% url 'goods:index' %}">Перейти на главную</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
