.btn-pink {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #e08497;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #d65b75;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #d65b75;
    --bs-btn-active-border-color: transparent;
}

.btn-green {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #2F9C95;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #2A8D87;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #2A8D87;
    --bs-btn-active-border-color: transparent;
}

.navbar {
    background-color: #990033;
}

.form-control:focus {
    border-color: #FFC3A6;
    box-shadow: 0 0 0 0.25rem #ffbb998f;
}

.form-select:focus {
    border-color: #FFC3A6;
    box-shadow: 0 0 0 0.25rem #ffbb998f;
}

.pagination {
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem #ffbb998f;
    --bs-pagination-active-bg: #FFC3A6;
    --bs-pagination-active-border-color: #FFC3A6;
}

.navbar-brand {
    color: #FEC3A6;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #FEC3A6;
}

.nav-link {
    color: #FEC3A6;
}

a.nav-link:hover,
a.nav-link:focus {
    color: #e5af95 !important;
}

.navbar {
    --bs-navbar-active-color: #FEC3A6;
}

.navbar-nav {
    --bs-nav-link-hover-color: #e5af95;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #FEC3A6;
    --bs-dropdown-link-active-color: #000;
}

:root {
    --bs-body-bg: #FFFCE7;
    --bs-link-color: #2F9C95;
    --bs-link-hover-color: #2A8D87;
    --bs-border-color: #FFC3A6;
    --bs-tertiary-bg: #ffbb998f;
    --bs-secondary-bg: #ffbb998f;
}

a {
    text-decoration: none !important;
}

.header-color {
    color: #990033;
}

.goodLink {
    color: #990033;
}

.goodLink:hover,
.goodLink:focus {
    color: #720026;
}

.width-input-form {
    width: 60px !important;
}

.form-check-input:focus {
    border-color: #FFC3A6;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffbb998f;
}

.form-check-input:checked {
    background-color: #FFC3A6;
    border-color: #FFC3A6;
}

.list-group {
    --bs-list-group-action-active-bg: #FFC3A6;
}

.delivered {
    color: #2F9C95;
}

.notDelivered {
    color: #990033;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 10;
}

@media (min-width: 1200px) {
    .searchForm {
        max-width: 160px;
    }

    .goodImg {
        max-height: 480px;
    }

    .permission-block {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 720px;
        display: none;
        z-index: 10;
    }
}

@media (max-width: 1199.98px) {
    .goodImg {
        max-height: 240px;
    }

    .goodDescription {
        display: none;
    }

    .permission-block {
        position: fixed;
        bottom: 0;
        display: none;
        z-index: 10;
    }
}