.btn-pink {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #E5989B;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #DE7C80;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #DE7C80;
    --bs-btn-active-border-color: transparent;
}

.btn-green {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #2F9C95;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #2A8D87;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #2A8D87;
    --bs-btn-active-border-color: transparent;
}

.navbar {
    background-color: #990033;
}

.form-control:focus {
    border-color: #FFC3A6;
    box-shadow: 0 0 0 0.25rem #ffbb998f;
}

.form-select:focus {
    border-color: #FFC3A6;
    box-shadow: 0 0 0 0.25rem #ffbb998f;
}

.pagination {
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem #ffbb998f;
    --bs-pagination-active-bg: #FFC3A6;
    --bs-pagination-active-border-color: #FFC3A6;
}

.navbar-brand {
    color: #FEC3A6;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #FEC3A6;
}

.nav-link {
    color: #FEC3A6;
}

.nav-link:hover,
.nav-link:focus {
    color: #FEC3A6;
}

.navbar {
    --bs-navbar-active-color: #FEC3A6;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #FEC3A6;
    --bs-dropdown-link-active-color: #000;
}

:root {
    --bs-body-bg: #FFFCE7;
    --bs-link-color: #2F9C95;
    --bs-link-hover-color: #2A8D87;
    --bs-border-color: #FFC3A6;
    --bs-tertiary-bg: #ffbb998f;
    --bs-secondary-bg: #ffbb998f;
}

a {
    text-decoration: none !important;
}

.header-color {
    color: #990033;
}

.width-input-form {
    width: 60px !important;
}

.form-check-input:focus {
    border-color: #FFC3A6;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffbb998f;
}

.form-check-input:checked {
    background-color: #FFC3A6;
    border-color: #FFC3A6;
}

.delivered {
    color: #2F9C95;
}

.notDelivered {
    color: #990033;
}

@media (min-width: 992px) {
    .goodImg {
        max-height: 480px;
    }
}

@media (max-width: 991px) {
    .goodImg {
        max-height: 240px;
    }
}