.btn-pink {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #E5989B;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #DE7C80;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #DE7C80;
    --bs-btn-active-border-color: transparent;
}

.btn-green {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #2F9C95;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #2A8D87;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #2A8D87;
    --bs-btn-active-border-color: transparent;
}

.navbar {
    background-color: #990033;
}

:root {
    --bs-body-bg: #FFFCE7;
    --bs-link-color: #2F9C95;
    --bs-link-hover-color: #2A8D87;
}

a {
    text-decoration: none !important;
}