{% load static %}
{% load user_filters %}
{% with request.resolver_match.view_name as view_name %}
  <header>
    <nav class="navbar navbar-expand-xl">
      <div class="container">
        <a class="navbar-brand" href="{% url 'goods:index' %}">
          <img src="{% static 'img/logo.png' %}"
               width="30"
               height="30"
               class="d-inline-block align-top"
               alt="Logo" />
          alcomarket
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarHeader"
                aria-controls="navbarHeader"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHeader">
          <ul class="navbar-nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'goods:categories' %}">Категории</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'goods:index' %}">Производители</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'feedbacks:create' %}">Обратная связь</a>
            </li>
          </ul>
          <ul class="navbar-nav nav-pills nav-fill ms-auto">
            {% if user.is_authenticated %}
              <div class="dropdown nav-item">
                <button type="button"
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ user.username }}</button>
                <ul class="dropdown-menu dropdown-menu-end text-center ms-auto"
                    aria-labelledby="navbarDrop">
                  <li>
                    <a href="{% url 'password_change_form' %}" class="dropdown-item">Изменить пароль</a>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}" class="dropdown-item">Выйти</a>
                  </li>
                </ul>
              </div>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
{% endwith %}
