{% load static %}
{% load user_filters %}
{% with request.resolver_match.view_name as view_name %}
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'goods:index' %}">
          <img src="{% static 'img/logo.png' %}"
               width="30"
               height="30"
               class="d-inline-block align-top"
               alt="Logo" />
          alcobottle
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarHeader"
                aria-controls="navbarHeader"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHeader">
          <form class="d-flex my-3 my-lg-0 me-2 justify-content-center"
                role="search"
                action="{% url 'goods:search' %}">
            <input class="form-control mx-2"
                   type="search"
                   placeholder="Поиск"
                   aria-label="Search"
                   name="search_field"
                   style="max-width: 160px">
            <button class="btn btn-pink btn-sm" type="submit">🔍</button>
          </form>
          <ul class="navbar-nav nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'goods:categories' %}">Категории</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'goods:manufacturers' %}">Производители</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'feedbacks:create' %}">Обратная связь</a>
            </li>
            <li class="nav-item">
              <p class="nav-link text-light my-0">Заказы по Москве и области</p>
            </li>
          </ul>
          <ul class="navbar-nav nav-pills nav-fill ms-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'goods:shopping_cart' %}">Корзина</a>
              </li>
              <div class="dropdown nav-item">
                <button type="button"
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ user.username }}</button>
                <ul class="dropdown-menu dropdown-menu-end text-center ms-auto"
                    aria-labelledby="navbarDrop">
                  <li>
                    <a href="{% url 'profiles:profile' user.username %}"
                       class="dropdown-item">Профиль</a>
                  </li>
                  <li>
                    <a href="{% url 'password_change_form' %}" class="dropdown-item">Изменить пароль</a>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}" class="dropdown-item">Выйти</a>
                  </li>
                </ul>
              </div>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
{% endwith %}
