{% extends "base.html" %}
{% block title %}
  Вам больше 18 лет?
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">Вам больше 18 лет?</div>
        <div class="card-body">
          Сайт содержит информацию для лиц совершеннолетнего возраста.
          Сведения, размещенные на сайте, не являются рекламой, носят исключительно информационный характер, и предназначены только для личного использования.
          Для доступа необходимо подтвердить совершеннолетний возраст.
          <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-pink mt-3">Мне исполнилось 18 лет</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
