{% extends "base.html" %}
{% block title %}
  Профиль пользователя {{ user.username }}
{% endblock title %}
{% block content %}
  <h3>Профиль пользователя {{ user.username }}</h3>
  <p>
    <em>{{ user.get_full_name }}, {{ user.email }}</em>
  </p>
  <a href="{% url 'profiles:profile_edit' user.username %}"
     class="header-color">Изменить данные профиля</a>
  <h5 class="mt-3">Мои заказы</h5>
  {% for order in orders %}
    <div class="card my-3">
      <div class="card-header">
        Заказ №{{ order.id }} от {{ order.created_at }}
        <br>
        Контактные данные: {{ order.contact }}
        <br>
        Адрес: {{ order.address }}
        <br>
        Статус:
        {% if order.is_delivered %}
          Доставлен
        {% else %}
          Не доставлен
        {% endif %}
      </div>
      <div class="card-body"></div>
      {% for good in order.goods %}{% endfor %}
      <div class="card-footer text-end">{{ order.total_price }} ₽</div>
    </div>
  {% endfor %}
{% endblock content %}
